/cross_entropy_with_regL2_logs.txt
/cross_entropy_wthRegL2.png
/hingeloss_with_regularisation.png
/hingleloss.py
/hingleloss_without_regularization.png
/hingleloss_without_regularization.txt
/hingloss-with-regularization(logs).txt
/test.py